.image-banner {
    background-image: url("/asset/image/malik-skydsgaard-Bx_wZNbWT98-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-banner-overlay {
    background: var(--primary-dark);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}